{% extends 'base.html.twig' %}

{% block title %}Hello VueUtilisateurController!{% endblock %}

{% block body %}

    <h1>Profil de {{ utilisateur.pseudo }}</h1>
    <p>Genre : {{utilisateur.genre}}</p>
    <p>Les questions posées par {{ utilisateur.pseudo }} :
     {% for q in questions %}
        <p><a href="{{ path('voir_question', { 'id': q.id }) }}">{{q.titre}}</a>
        | {{q.reponses|length}} avis | posée le {{q.createdAt|date("d/m/Y")}} à {{ q.createdAt|date("h:m") }}</p>
    {% endfor %}

{% endblock %}
