{% extends 'base.html.twig' %}


{% block title %}Bienvenue{% endblock %}

{% block body %}

    <div class="mb-3">Bonjour {{ app.user.pseudo }}</div>
    <h1 class="pt-5 mt-0">Bienvenue sur le réseau social</h1><img src="{{ asset('img/live.png') }}" alt="livequestion"/>

    {% for q in questions %}

    <p><a href="{{ path('vue_utilisateur', { 'pseudo': q.auteur.pseudo }) }}">
    {# Permet d'afficher les avatars des fixtures en env de dev ce code sera modifié en env deproduction #}
        {% if q.auteur.avatar.imageName  is defined and q.auteur.avatar.imageName  is not null %}
            {% set url = q.auteur.avatar.imageName %}
            {% if 'http' in url %}
                <img class="avatar avatar mr-2" src="{{q.auteur.avatar.imageName}}"/>
            {% else %}
                <img class="avatar avatar mr-2" src="{{ asset('images/avatar/' ~ q.auteur.avatar.imageName ~ '') }}" alt="{{q.auteur.pseudo}}"/></a>
            {% endif %}
        {% else %}
            <img class="avatar avatar mr-2" src="{{ asset('images/avatar/userDefaut.png') }}" alt="{{q.auteur.pseudo}}"/></a>
        {% endif %}

            {{q.auteur.pseudo}} | <a href="{{ path('voir_question', { 'id': q.id }) }}">{{q.titre}}</a> |
            {% for categ in q.categorie %}
                {{categ.nom}}
            {% endfor %}
                | {{q.reponses|length}} avis
                | postée le : {{ q.createdAt|date("d/m/Y") }}</p>
        {% endfor %}

{% endblock %}
