{% extends 'base.html.twig' %}


{% block title %}Bienvenue{% endblock %}

{% block body %}

    <div class="mb-3">Bonjour {{ app.user.pseudo }}</div>
    <h1 class="pt-5 mt-0">Bienvenue sur le réseau social</h1><img src="{{ asset('img/live.png') }}" alt="">
          
    {% for q in questions %}
        <p>Titre : {{q.titre}} | 
        {% for categ in q.categorie %}
            {{categ.nom}} 
        {% endfor %}
            | {{q.reponses|length}} avis
            | question posée par : {{q.auteur.pseudo}} postée le : {{ q.createdAt|date("d/m/Y") }}</p>
     {% endfor %}

{% endblock %}
